__pycache__/checklist.cpython-311.pyc
__pycache__/display_movie.cpython-311.pyc
__pycache__/genre.cpython-311.pyc
__pycache__/language.cpython-311.pyc
__pycache__/library.cpython-311.pyc
__pycache__/lineEdit_clicked.cpython-311.pyc
__pycache__/startup.cpython-311.pyc
backend/__pycache__/encryption.cpython-311.pyc
backend/__pycache__/mailing.cpython-311.pyc
backend/__pycache__/movie_search.cpython-311.pyc
backend/__pycache__/playlists.cpython-311.pyc
backend/__pycache__/users.cpython-311.pyc
backend/Utils/__pycache__/movie_utils.cpython-311.pyc
backend/Utils/__pycache__/playlist_utils.cpython-311.pyc
backend/Utils/__pycache__/user_utils.cpython-311.pyc
reusable_imports/__pycache__/_css.cpython-311.pyc
reusable_imports/__pycache__/common_vars.cpython-311.pyc
reusable_imports/__pycache__/commons.cpython-311.pyc
reusable_imports/__pycache__/source_vars.cpython-311.pyc
utils/__pycache__/movie_utils.cpython-311.pyc
__pycache__/widget_generator_home.cpython-311.pyc
__pycache__/widget_generator_search.cpython-311.pyc
__pycache__/splash_screen.cpython-311.pyc
backend/__pycache__/collaborative_filtering.cpython-311.pyc
backend/__pycache__/mapping.cpython-311.pyc
backend/Utils/__pycache__/mapping_utils.cpython-311.pyc
backend/cos_similarity.csv
__pycache__/taste_profile.cpython-311.pyc
Mode/mode.txt
Mode/start_mode.txt
test.py
__pycache__/delete_dialog.cpython-311.pyc
__pycache__/widget_generator_home.cpython-311.pyc
reusable_imports/presets/action.txt
reusable_imports/presets/adventure.txt
reusable_imports/presets/animation.txt
reusable_imports/presets/anime.txt
reusable_imports/presets/bheem.txt
reusable_imports/presets/bourne.txt
reusable_imports/presets/comedy.txt
reusable_imports/presets/crime.txt
reusable_imports/presets/doraemon.txt
reusable_imports/presets/drama.txt
reusable_imports/presets/family.txt
reusable_imports/presets/fantasy.txt
reusable_imports/presets/final_dest.txt
reusable_imports/presets/fnf.txt
reusable_imports/presets/ghostbusters.txt
reusable_imports/presets/history.txt
reusable_imports/presets/horror.txt
reusable_imports/presets/indiana.txt
reusable_imports/presets/insidious.txt
reusable_imports/presets/j_bond.txt
reusable_imports/presets/kf_panda.txt
reusable_imports/presets/matrix.txt
reusable_imports/presets/mcu.txt
reusable_imports/presets/mi.txt
reusable_imports/presets/mystery.txt
reusable_imports/presets/nolan.txt
reusable_imports/presets/oceans.txt
reusable_imports/presets/potter.txt
reusable_imports/presets/power_rangers.txt
reusable_imports/presets/retro.txt
reusable_imports/presets/romance.txt
reusable_imports/presets/scifi.txt
reusable_imports/presets/shinchan.txt
reusable_imports/presets/shrek.txt
reusable_imports/presets/spider_man.txt
reusable_imports/presets/star_trek.txt
reusable_imports/presets/star_wars.txt
reusable_imports/presets/thriller.txt
reusable_imports/presets/tolkein.txt
reusable_imports/presets/war.txt
reusable_imports/presets.zip
backend/passwords.py
test2.py
